.video{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
      
      .video-wrapper{
            position: relative;
            width: 100%;
            height: 100%; 
      
            video{
                  position: absolute;
                  width: 100%;
                  height: 100%;
            }
      
            .content-loader{
                  position: absolute;
                  width: 100%;
                  height: 100%;
            }
      
            .error-message{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
      
                  .text-error{
                        font-size: 40px;
                        color: white;
                        font-weight: 400;
                  }
            }
      
            .preview-poster{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                
                  img{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                  }
            }
      }
}