@import '../../styles/style-base.css';

.wrapper-main-home{
      position: absolute;
      width: 100%;
      min-height: 100%;
      background: $color-black-1;

      .main-section{
            position: absolute;
            width: 100%;
            min-height: 100%;
      }

      .wrapper-background{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img{
                  position: relative;
                  object-fit: fill;
            }
      }

      .gradient-overlay{
            position: absolute;
            width: 100%;
            height: 25%;
            bottom: 0;
            background: linear-gradient(0deg, $color-black-1, transparent);
            opacity: 1;
      }

      .footer-content{
            background: black;
      }
}

.main-info{
      position: absolute;
      height: 65%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 75px;
      padding-top: 75px;

      .logo-guiahtv{
            justify-content: flex-start;
            margin: 25px 0;
      }

      .title-text{
            width: 55%;
            font-size: 50px;
            font-weight: 600;
            line-height: 70px;
      }

      .subtitle-text{
            width: 58%;
            font-weight: 300;
            margin: 10px 0;
            font-size: 28px;
      }

      .group-buttons-actions{
            margin: 50px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            
            p{
                  margin-right: 25px;
                  font-weight: 300;
            }

            button{
                  margin-right: 20px;
            }
                  
      }
}