@import "../../styles/style-base.css";

.spinner-mui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $color-background-app;
}

.loader-logo {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: $color-background-app;
    overflow: hidden;
    opacity: 0;

    .logo {
        position: relative;
        width: 25%;
        height: auto;
    }

    .spinner-mui {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background: transparent;

        .MuiCircularProgress-root{
            position: relative;
            bottom: 60px;
        }
    }
}

.loader-video {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

    video {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.loader-wrapper {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-background-app;

    .spinner-mui {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.loader-section {
        z-index: 998;
    }
}

.MuiCircularProgress-colorPrimary {
    color: $color-white !important;
}

.MuiCircularProgress-indeterminate {
    animation: MuiCircularProgress-keyframes-circular-rotate 1s linear infinite !important;
}
