@import '../../../../styles/style-base.css';

.modal-playlist{
    display: flex;
	align-items: center;
	justify-content: center;

    .modal-paper{
        background-color: $color-background-app;
        border: 2px solid $color-grey-5 !important;
        border-radius: 4px;
        width: 22%;
        padding: 16px 32px 8px !important;
    
        .header-modal{
            position: relative;
            display: flex;
            justify-content: space-between;
    
            .title-modal{
                font-size: 20px;
                font-weight: 600;
            }
    
            i{
                font-size: 20px;
                color: $color-grey-4;
            }
        }
    
        .form-modal{
            margin-top: 10px;
            position: relative;
    
            .group-form{
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 15px 0;
    
                &.checkbox{
                    flex-direction: row;
                    justify-content: flex-start;
                }
    
                &.button{
                    margin-top: 50px;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }
    
            .label-name-playlist{
                color: $color-grey-2;
                font-size: 14px;
                margin-bottom: 5px;
            }
    
            .name-playlist{
                position: relative;
                width: 100%;
                background: $color-grey-5;
                border: none;
                color: white;
                padding: 8px 10px;
                font-size: 14px;
                border-radius: 4px;
            }
    
            .label-description-playlist{
                color: $color-grey-2;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .description-playlist{
                position: relative;
                width: 100%;
                background: $color-grey-5;
                border: none;
                color: white;
                padding: 8px 10px;
                font-size: 14px;
                border-radius: 4px;
                font-family: "Poppins", sans-serif !important;
            }
    
            .label-public-playlist{
                color: $color-grey-2;
                font-size: 14px;
                margin-bottom: 5px;
            }
    
            .public-playlist{
                position: relative;
                width: 25px;
                background: $color-grey-5;
                border: none;
                color: white;
                padding: 8px 10px;
                font-size: 14px;
                border-radius: 4px;
                font-family: "Poppins", sans-serif !important;
            }

            .label-delete-message{
                color: $color-grey-2;
                font-size: 14px;
                margin-bottom: 5px;
            }
    
            .submit-button{
                position: relative;
                width: 100px;
                color: white;
                background: $color-guide-blue;
                padding: 10px;
                border-radius: 50px;
                font-size: 15px;
                font-weight: 500;
    
                &:hover{
                    transform: scale(1.1);
                }
            }

            .cancel-button{
                position: relative;
                width: 100px;
                color: white;
                background: transparent;
                padding: 10px;
                border-radius: 50px;
                font-size: 15px;
                font-weight: 500;
                margin-right: 10px;
    
                &:hover{
                    background: $color-white;
                    color: black;
                    transform: scale(1.1);
                }
            }
        }
    }
}