@import '../../styles/style-base.css';

.button-ui{
      border: none;
      color: $color-white;
      transition: all 150ms ease;
      border-radius: 4px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
      font-family: "Poppins", sans-serif !important;
      letter-spacing: .5px;
      font-weight: 400;
      padding: 15px 45px;
      cursor: pointer;

      &.width-auto{
            width: auto;
      }

      &.full-width{
            width: 100%;
      }

      &.uppercase{
            text-transform: uppercase;
      }

      &.primary{
            background: $color-guide-blue;
      }

      &.secondary{
            background: $color-guide-purple;
      }

      &.outline-white{
            background: $color-white;
            color: $color-guide-black;

            &:hover{
                  background: rgba(255, 255, 255, 0.75); 
                  
            }
      }

      &.transparent{
            background: transparent;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0);

            &:hover{
                  background: $color-white;
                  color: black;
                  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
            }

            &.outline{
                  border: 1px solid $color-white;
            }
      }

      &.gradient{
            /* background: linear-gradient(270deg, $color-guide-blue 0%, $color-guide-purple 100%); */
            background: linear-gradient(270deg, $color-violet 0%, $color-guide-blue 100%);
            /* background: linear-gradient(270deg,  #6a26cd 0%, #00aeef 100%); */
            /* background: linear-gradient(270deg, $color-guide-purple 0%, $color-guide-blue 100%); */
      }
}