@import '../../../../styles/style-base.css';

.player-content{
      position: absolute;
      height: auto;
      width: 100%;
      bottom: 0;
      background: $color-black-2;
      padding: 15px 45px;

      .controls{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
      }
}