@import '../../styles/style-base.css';

.list{
      position: relative;
      width: 100%;
      height: auto;
      margin: 40px 0;
      padding: 0 $full-padding-content;

      .title-list{
            font-size: 1.1vw;
            font-weight: 600;
            letter-spacing: .5px;
            margin: 10px 0 10px 14px;
      }

      .description-list{
            font-size: 0.8vw;
            font-weight: 500;
            letter-spacing: .5px;
            margin: -10px 0 10px 14px;
            color: $color-grey-3;
      }

      &.list-catalogue{
      
            &.portrait{
      
                  .background-item{
                        height: 17vw;
                        transform: scale(0.93);
                  }
            }
      
            &.landscape{
      
                  .background-item{
                        height: 11vw;
                        transform: scale(0.95);
                  }
            }
      
            &.wrap.landscape {
      
                  .list-items{
                        flex-wrap: wrap;
            
                        .item{
                              margin-bottom: 50px;
                        }
                  }
            }
      }

      &.list-season{

            .list-content{
                  position: relative;
                  width: 100%;

                  .list-items{
                        position: relative;
                        width: 100%;
                        display: flex;
                  }
            }
      
            &.portrait{

                  .background-item{
                        height: 325px;
                  }
      
                  .item-link{
                        flex: 0 0 calc(100% / 7);
                  }
            }
      
            &.landscape{

                  .background-item{
                        height: 11vw;
                        transform: scale(1);
                        box-shadow: none;

                        &::after{
                              border-radius: 4px;
                              border: none;
                              inset: 0px;
                              content: "";
                              position: absolute;
                              transition: border 300ms ease-out 0s;
                        }

                        img{
                              object-fit: fill;
                        }
                        /* transform: scale(0.93); */
                  }
      
                  .item-link{
                        flex: 0 0 calc(100% / 5);
                        margin-bottom: 3vw;
                        
                        .item{
                              transform: scale(0.95);
                              border-radius: 8px;
                              background: linear-gradient(to bottom, $color-black-1, $color-black-2);
                              transition: all 300ms ease-in-out;
                              box-shadow: rgb(0 0 0 / 69%) 0px 1.3vw 1.6vw -0.5vw, rgb(0 0 0 / 73%) 0px .9vw 0.5vw -0.5vw;
                              backface-visibility: hidden;
                              height: 21vw;
      
                              &:hover{
                                    .background-item{
                                          box-shadow: none;
      
                                          
                                          &::after{
                                                border: none;
                                          }
                                    }
                              }
                              &::after{
                                    border-radius: 8px;
                                    border: 4px solid transparent;
                                    inset: 0px;
                                    z-index: 2;
                                    content: "";
                                    position: absolute;
                                    transition: border 300ms ease-out 0s;
                              }
            
                              &:hover{
                                    transform: scale(1);
                                    box-shadow: rgb(0 0 0 / 80%) 0px 2.1vw 2.6vw -0.9vw, rgb(0 0 0 / 72%) 0px 1.6vw 1.2vw -0.5vw;
                  
                                    &::after{
                                          border: 4px solid $color-white;
                                    }
                              }
                        }
      
                  }
            }
      
            &.wrap.landscape {  
                  .list-items{
                        flex-wrap: wrap;
                  }
            }
      }

      &.list-tracks{
            padding: 0 $full-padding-content 0 calc($full-padding-content / 2);
            margin: 25px 0;

            &.square{

                  .background-item{
                        height: 11vw;
                        transform: scale(0.93);
                  }
      
                  .item-link{
                        flex: 0 0 calc(100% / 7);
                  }
            }
      }

      &.list-card{
      
            &.portrait{
                  .list-items{
      
                        .background-item{
                              height: 325px;
                        }
                  }
      
                  .item-link{
                        flex: 0 0 calc(100% / 7);
                  }
            }
      
            &.landscape{
                  .list-items{
      
                  }
                  .background-item{
                        height: 10vw;
                  }
      
                  .item-link{
                        flex: 0 0 calc(100% / 5);
                        /* border: 1px solid red; */
                  }
      
                  /* .direction-prev{
                        background: linear-gradient(to right, rgba($rgba-color-guide-black, 1), rgba($rgba-color-guide-black, 0));
                        left: -45px;
                        height: 23vw;
                        top: .36vw;
                  }
            
                  .direction-next{
                        background: linear-gradient(to left, rgba($rgba-color-guide-black, 1), rgba($rgba-color-guide-black, 0));
                        right: -45px;
                        height: 23vw;
                        top: .36vw;
                  } */
            }
      }

      .slick-slide{
            opacity: 1;
            transition: all 300ms ease-in-out;

            .background-item{

                  &::after{
                        content: '';
                        position: absolute;
                        inset: 0;
                        background: rgba(0, 0, 0, 0.5);
                        transition: all 300ms ease-in-out;
                  }
            }

            &.slick-active{
                  opacity: 1;

                  .background-item{

                        &::after{
                              content: '';
                              position: absolute;
                              inset: 0;
                              background: transparent;
                              transition: all 300ms ease-in-out;
                        }
                  }
            }
      }

      .tabs-indicators{
            position: absolute;
            width: 15%;
            right: 0;
            top: -14%;
            height: 13%;
            padding-right: calc($full-padding-content + 1vw);

            .list-indicators{
                  position: relative;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;
                  gap: 3px;

                  .item-indicator{
                        position: relative;
                        width: 1vw;
                        height: .1vw;
                        background: $color-grey-5;

                        &.active{
                              background: white;
                        }
                  }
            }
      }
}

.list-cards{
      position: relative;
      width: 100%;
      height: auto;
      padding: 25px 50px 0 50px;
      overflow-x: hidden;

      &.portrait{
            .list-items{
                  height: 330px;

                  .background-item{
                        height: 330px;
                  }
            }

            .item-link{
                  flex: 0 0 calc(100% / 7);
            }
      }

      &.landscape{
            .list-items{
                  height: auto;

                  .background-item{
                        height: auto;
                  }
            }

            .item-link{
                  flex: 0 0 calc(100% / 5);
                  min-height: 24vw;
            }
      }

      .list-content{
            /* border: 1px solid blue; */

            .list-items{
                  position: relative;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  /* border: 1px solid green; */
      
                  .item-link{
                        height: 100%;
                        display: flex;
                        text-decoration: none;
                        border-radius: 10px;
                        transform: scale(0.97);
                        transition: all .3s ease;
                        background-color: #18191c;
                        background: linear-gradient(to bottom, #242528, #18191c);
                        border: 3px solid transparent; 
                        
                        .item{
                              position: relative;
                              height: 100%;
                              width: 100%;
                              border-radius: 10px;
                              display: flex;
                              flex-direction: column;

                              .background-item{
                                    position: relative;
                                    width: 100%;
                                    height: 200px;
                                    transition: all .2s linear;
                                    overflow: hidden;
                                    border-radius: 6px;
                                   

                                    img{
                                          position: relative;
                                          width: 100%;
                                          height: 100%;
                                          background-size: cover;
                                          border-radius: 4px;
                                    }

                                    .progress-bar-content{
                                          position: absolute;
                                          height: 30%;
                                          width: 100%;
                                          bottom: 0;
                                          display: flex;
                                          flex-direction: column;
                                          justify-content: flex-end;
                                          align-items: center;
                                          background: linear-gradient(to top, rgba(0, 0, 0, 0.50), transparent);

                                          .MuiLinearProgress-root{
                                                width: 90%;
                                                background-color: rgba(255, 255, 255, 0.75);
                                                height: 6px;
                                                margin-bottom: 15px;
                                                border-radius: 2px;

                                                .MuiLinearProgress-bar{
                                                      background-color: $color-guide-blue;
                                                      border-radius: 2px;
                                                }
                                          }
                                    }
                              }


                              .info-episode{
                                    position: relative;
                                    width: 100%;
                                    padding: 0 10px;
                                    min-height: 125px;
                                    max-height: 200px;

                                    .group-name-episode{
                                          margin: 10px 0;
      
                                          .name-episode{
                                                font-size: 16px;
                                                font-weight: 500;
                                          }
                                    }

                                    .group-description-episode{
                                          margin: 10px 0;
      
                                          .description-episode{
                                                font-size: 15px;
                                                font-weight: 400;
                                          }
                                    }
                              }
                        }

                        &:hover{
                              cursor: pointer;
                              transform: scale(1);
                              border: 3px solid white;
                        }
                  }
            }
      
            .direction{
                  position: absolute;
                  height: 100%;
                  top: 0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 50px;
                  cursor: pointer;
                  opacity: 1;
                  transition: all .3s ease;
      
                  i{
                        color: white;
                        font-size: 30px;
                        padding: 20px;
                        background: rgba(24,25,28, 0.25);
                        transition: all .3s ease;
      
                        &:hover{
                              background: rgba(24,25,28, 0.75);
                        }
                  }
      
                  &.direction-prev{
                        left: -3.3%;
                  }
      
                  &.direction-next{
                        right: -3.3%;
                  }
            }
      }
}

.list-covers{
      position: relative;
      width: 100%;
      height: auto;
      padding: 25px 40px 0 40px;
      overflow-x: hidden;

      &.portrait{
            .list-items{
                  height: 330px;

                  .background-item{
                        height: 330px;
                  }
            }

            .item-link{
                  flex: 0 0 calc(100% / 7);
            }
      }

      &.landscape{
            .list-items{
                  height: auto;

                  .background-item{
                        height: auto;
                  }
            }

            .item-link{
                  flex: 0 0 calc(100% / 5);
                  min-height: 400px;
            }
      }

      .list-content{
            /* border: 1px solid blue; */

            .list-items{
                  position: relative;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  /* border: 1px solid green; */
      
                  .item-link{
                        height: 100%;
                        display: flex;
                        text-decoration: none;
                        border-radius: 10px;
                        transform: scale(0.97);
                        transition: all .3s ease;
                        background-color: #18191c;
                        background: linear-gradient(to bottom, #242528, #18191c);
                        border: 3px solid transparent; 
                        
                        .item{
                              position: relative;
                              height: 100%;
                              width: 100%;
                              border-radius: 10px;
                              display: flex;
                              flex-direction: column;

                              .background-item{
                                    position: relative;
                                    width: 100%;
                                    height: 200px;
                                    transition: all .2s linear;
                                    overflow: hidden;
                                    border-radius: 6px;
                                   

                                    img{
                                          position: relative;
                                          width: 100%;
                                          height: 100%;
                                          background-size: cover;
                                          border-radius: 4px;
                                    }

                                    .progress-bar-content{
                                          position: absolute;
                                          height: 30%;
                                          width: 100%;
                                          bottom: 0;
                                          display: flex;
                                          flex-direction: column;
                                          justify-content: flex-end;
                                          align-items: center;
                                          background: linear-gradient(to top, rgba(0, 0, 0, 0.50), transparent);

                                          .MuiLinearProgress-root{
                                                width: 90%;
                                                background-color: rgba(255, 255, 255, 0.75);
                                                height: 6px;
                                                margin-bottom: 15px;
                                                border-radius: 2px;

                                                .MuiLinearProgress-bar{
                                                      background-color: $color-guide-blue;
                                                      border-radius: 2px;
                                                }
                                          }
                                    }
                              }


                              .info-episode{
                                    position: relative;
                                    width: 100%;
                                    padding: 0 10px;
                                    min-height: 125px;
                                    max-height: 200px;

                                    .group-name-episode{
                                          margin: 10px 0;
      
                                          .name-episode{
                                                font-size: 16px;
                                                font-weight: 500;
                                          }
                                    }

                                    .group-description-episode{
                                          margin: 10px 0;
      
                                          .description-episode{
                                                font-size: 15px;
                                                font-weight: 400;
                                          }
                                    }
                              }
                        }

                        &:hover{
                              cursor: pointer;
                              transform: scale(1);
                              border: 3px solid white;
                        }
                  }
            }
      
            .direction{
                  position: absolute;
                  height: 100%;
                  top: 0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 30px;
                  cursor: pointer;
                  opacity: 1;
                  transition: all .3s ease;
      
                  i{
                        color: white;
                        font-size: 30px;
                        padding: 20px;
                        background: rgba(24,25,28, 0.25);
                        transition: all .3s ease;
      
                        &:hover{
                              background: rgba(24,25,28, 0.75);
                        }
                  }
      
                  &.direction-prev{
                        left: -2.2%;
                  }
      
                  &.direction-next{
                        right: -2.2%;
                  }
            }
      }
}