@import '../../../../styles/style-base.css';

.header{
      position: relative;
      width: 100%;
      height: 400px;
      

      .background-image{
            position: absolute;
            width: 100%;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;

            img{
                  position: absolute;
                  width: 100%;
                  height: auto;
                  border-radius: 10px;
                  
            }

            .opacity-overlay{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: linear-gradient(to right, rgba(0, 0, 0, .9), transparent);
            }
      }

      .info-artist{
            position: relative;
            width: 100%;
            padding-top: 100px;

            .name-artist{
                  font-size: 50px;
                  font-weight: 900;
                  margin-top: 100px;
                  margin-left: 100px !important;
            }

            .genre-artist{
                  font-size: 20px;
                  font-weight: 500; 
                  color: rgba(179, 179, 179, 0.6);
                  margin-left: 100px !important;
            }

      }

      .icons{
            position: relative;
            margin-top: 30px;
            margin-left: 100px !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            
            .play-music{
                  color: white;
                  font-weight: 500;
                  padding: 10px 30px;
                  font-size: 15px;
                  border-radius: 50px;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  background: $color-guide-blue;
                  width: 130px;
                  text-align: center;
                  cursor: pointer;

                  i{
                        display: none;
                        color: white;
                        font-size: 20px;
                        margin-left: 6px;
                  }
            }

            .like-artist{
                  margin-left: 20px;
                  border-radius: 50%;
                  width: 40px;
                  height: 40px;
                  border: 2px solid white;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;

                  &:hover{
                        background: white;
                        
                        i {
                              color: black;        
                        }
                  }

                  i{
                        color: white;
                        font-size: 18px;
                  }
            }

            .share-artist{
                  margin-left: 20px;
                  border-radius: 50%;
                  width: 40px;
                  height: 40px;
                  border: 2px solid white;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  transition: all .15s ease;

                  &:hover{
                        background: white;
                        
                        i {
                              color: black;       
                        }
                  }

                  i{
                        color: white;
                        font-size: 18px;
                  }
            }


      }
}

.navbar-artist{
      padding: 25px 0;

      .section-wrapper{ 
      
            .navbar-list{
       
                  .navbar-item{
                        margin-right: 25px;
                        padding: 5px 0;

                        .navbar-link{
      
                              i, p{
                                    font-size: 15px;
                                    margin: 0 10px;
                                    padding: 5px 0 !important;
                                    color: rgba(179, 179, 179, 0.6);
                              }
      
                              i{
                                    display: none;
                              }
            
                              &.active p{
                                    border-bottom: 1px solid white;
                              }
                        }
                  }
            }
      }
}
  
.content-artist{
      position: relative;
      width: 100%;
      height: auto;
      padding: 25px 0 0 0;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      .popular-songs{
            position: relative;
            width: 40%;
            box-sizing: border-box;

            .title-section{
                  font-size: 18px;
                  font-weight: 600;
                  margin-bottom: 40px !important;
                  margin-left: 20px !important;
            }

            .list-songs{
                  position: relative;
                  width: 100%;

                  .item-song{
                        position: relative;
                        width: calc(100%);
                        height: 75px;
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        align-items: center;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        cursor: pointer;

                        &:hover{
                              background: rgba(255,255,255, 0.1);
                        }

                        &.active{
                              background: rgba(255,255,255, 0.1);
                        }

                        .image-song{
                              position: relative;
                              height: 100%;
                              width: auto;
                              overflow: hidden;

                              img{
                                    position: relative;
                                    height: 100%;
                                    width: auto;
                                    border-radius: 5px;
                              }
                        }

                        .info-song{
                              margin-left: 15px;
                              min-width: 350px;

                              .name-song{
                                    font-size: 17px;
                                    font-weight: 600;
                              }

                              .name-artist{
                                    font-size: 15px;
                                    font-weight: 500;
                                    color: #797979;
                              }
                        }

                        .time-song{
                              min-width: 100px;
                              font-size: 16px;
                        }

                        .extras{
                              margin-left: 10px;

                              i{
                                    font-size: 16px;
                              }
                        }
                        
                        a{
                              text-decoration: none;
                              color: white;
                        }
                  }
            }
      }

      .albums-artist{
            position: relative;
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;

            .title-section{
                  font-size: 18px;
                  font-weight: 600;
                  margin-bottom: 40px !important;
                  margin-left: 10px !important;
            }

            .list-albums{
                  position: relative;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  list-style: none;
                  box-sizing: border-box;

                  .item-album{
                        width: calc(100% / 4);
                        padding: 0 15px 15px 15px;
                        box-sizing: border-box;
                        margin-bottom: 50px;

                        .image-album{
                              position: relative;
                              width: auto;
                              height: 100%;

                              img{
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                    border-radius: 5px;
                              }

                              .info-album{
                                    position: relative;

                                    .title-album{
                                          font-size: 17px;
                                          font-weight: 500;
                                    }

                                    .year-album{
                                          font-size: 15px;
                                          font-weight: 500;
                                          color: rgba(179, 179, 179, 0.6);
                                    }
                              }
                        }

                  }
            }
      }
}

.content-wrapper{
      position: relative;
      width: calc(100vw - 300px);
      height: 100%;
      padding: 0 25px 25px 25px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
            -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical{
            width: 6px;
      }

      &::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
            display: none;
      }

      &::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
            border-radius: 10px;  
      }

      .title-content{
            font-size: 20px;
            font-weight: 500;
            margin-top: 25px !important;
      }

      hr{
            background-color: gray;
            border: none;
            height: 1px;
            opacity: 0.3;
      }

      .content-albums{
            position: relative;
            width: 100%;

            .album-artist{
                  position: relative;
                  width: 100%;
                  margin: 25px 0 75px 0;

                  .header-album{
                        position: relative;
                        width: 100%;
                        height: 210px;
                        display: flex;
                        flex-direction: row;

                        .cover-album{
                              position: relative;
                              width: 240px;
                              height: 240px;
                              overflow: hidden;

                              img{
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                    border-radius: 5px;
                              } 
                        }

                        .info-album{
                              margin-left: 25px;
                              display: flex;
                              flex-direction: column;
                              justify-content: flex-end;

                              .title-album{
                                    font-weight: 700;
                                    font-size: 35px;
                              }

                              p{
                                    color: #B3B3B3;

                                    strong{
                                          color: white;
                                          font-weight: 500;
                                    }
                              }

                              .buttons{
                                    margin-top: 15px;
                                    display: flex;
                                    flex-direction: row;

                                    .btn-play-album{
                                          background: $color-guide-blue;
                                          padding: 10px 30px;
                                          text-transform: uppercase;
                                          font-size: 11px;
                                          font-weight: 600;
                                          letter-spacing: 1px;
                                          border-radius: 50px;
                                    }

                                    .button-icon{
                                          margin-left: 15px;
                                          color: white;
                                          border-radius: 50%;
                                          border: 1px solid white;
                                          width: 30px;
                                          height: 30px;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content: center;
                                          align-items: center;
                                    }
                              }
                        }
                  }

                  .content-album{
                        table{
                              margin-top: 40px;
                              position: relative;
                              width: 100%;
                              border-collapse: collapse;
                              
                              tr{   
                                    border-bottom: 1px solid rgba(179,179,179, 0.1);

                                    th{
                                          color: white;
                                          font-weight: 400;
                                          text-align: left;
                                          text-transform: uppercase;
                                          letter-spacing: 5px;
                                          font-size: 13px;
                                          height: 40px;
                                    }

                                    td{
                                          color: white;
                                          font-weight: 400;
                                          text-align: left;
                                          font-size: 16 px;
                                          height: 40px;
                                    }

                                    .number-song{
                                          color:  #B3B3B3;
                                          width: 50px;
                                          text-align: left;
                                    }

                                    .fav-song{
                                          color:  #B3B3B3;
                                          width: 50px;
                                    }

                                    .title-song{
                                    }

                                    .time-song{
                                          color:  #B3B3B3;
                                          width: 50px;
                                          text-align: right;
                                    }

                                    .liked-song{
                                          color:  #B3B3B3;
                                          width: 50px;
                                          text-align: right;
                                    }
                              }
                        }
                  }
            }
      }
}

.album-artist-wrapper{

      .more-of-artist{

            .header-section{

                  .title-section{
                        font-size: 18px;
                        font-weight: 500;
                  }

                  hr{
                        height: 1px;
                        border: none;
                        background: rgba(179,179,179, 0.4);
                  }
            }

            .albums-artist{
                  position: relative;
                  margin-top: 25px;
                  width: 100%;

                  .title-section{
                        font-size: 19px;
                        font-weight: 600;
                        margin-bottom: 40px !important;
                  }

                  .list-albums{
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 30px;
                        list-style: none;

                        .item-album{
                              flex: 0 0 calc(100% / 6.8);

                              .image-album{
                                    position: relative;
                                    width: 100%;
                                    height: 100%;

                                    img{
                                          position: relative;
                                          width: 100%;
                                          height: auto;
                                          border-radius: 5px;
                                    }

                                    .info-album{
                                          position: relative;

                                          .title-album{
                                                font-size: 18px;
                                                font-weight: 500;
                                          }

                                          .year-album{
                                                font-size: 16px;
                                                font-weight: 500;
                                                color: #797979;
                                          }
                                    }
                              }

                        }
                  }
            }
      }
}