@import '../../../../styles/style-base.css';

.info-contact-wrapper{
      position: relative;
      width: 100%;
      min-height: 300px !important;
      padding: 25px $full-padding-content;
      color: white;
      display: flex;
      flex-direction: row;

      .group-section{
            position: relative;
            width: 40%;
            font-size: .9vw;
            margin-right: 5vw;

            i{
                  margin-right: 25px;
                  font-size: 1vw;
            }
      }

      .title-group{
            font-weight: 600;
            font-size: 26px;
      }

      .description-group{
            font-weight: 500;
            font-size: 16px;
            margin-top: 25px;
      }

      .phone-group{
            margin-bottom: 15px;
      }
      
      .web-group{
            margin-bottom: 25px;
            
            a{
                  color: white;
                  text-decoration: none;
            }
      }

      .social-media-group{
            display: flex;
            flex-direction: column;

            a{
                  color: white;
                  text-decoration: none;
                  margin-bottom: 20px;
                  display: flex;
                  align-items: center;
            }

            i{
                  font-size: 20px;
                  cursor: pointer;
            }
      }
}