.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.fade-50-enter {
  opacity: 0;
}
.fade-50-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}
.fade-50-enter-done {
  opacity: 1;
}
.fade-50-exit {
  opacity: 1;
}
.fade-50-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
.fade-50-exit-done {
  opacity: 0;
}

.fade-100-enter {
  opacity: 0;
}
.fade-100-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}
.fade-100-enter-done {
  opacity: 1;
}
.fade-100-exit {
  opacity: 1;
}
.fade-100-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
.fade-100-exit-done {
  opacity: 0;
}

.fade-150-enter {
  opacity: 0;
}
.fade-150-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}
.fade-150-enter-done {
  opacity: 1;
}
.fade-150-exit {
  opacity: 1;
}
.fade-150-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
.fade-150-exit-done {
  opacity: 0;
}

.fade-out-enter {
  opacity: 0;
}
.fade-out-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}
.fade-out-enter-done {
  opacity: 1;
}
.fade-out-exit {
  opacity: 1;
}
.fade-out-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}
.fade-out-exit-done {
  opacity: 0;
}

.fade{
  transition: opacity 250ms linear;
  
  &.hide{
    opacity: 0;
  }
  
  &.show{
    opacity: 1;
  }
}
