$color-grey-1: #fafafa;
$color-grey-2: #9e9e9e;
$color-grey-3: #757575;
$color-grey-4: #616161;
$color-grey-5: #424242;
$color-grey-6: #5C606C;

$color-black-1: #232526;
$color-black-2: #18191c;
/* #13171a */

$color-background-app: $color-black-1;
$rgba-color-background-app: 35,37,38;
$color-guide-black: $color-black-2;
$rgba-color-guide-black: 24,25,28;
$color-guide-blue: #00aeef;
$color-guide-blue-hover: #00aeef;
$rgba-color-guide-blue: 0,174,239;
$color-guide-purple: #662d91;

$color-smokey-black: #100f10;
$rgba-color-smokey-black: 16,15,16;
$color-violet: #6a26cd;
$color-capri: #37b9f1;
$color-white: #f7f7f7;
$rgba-color-white: 247,247,247;
$color-blue: #102754;

@custom-media --laptop-large-viewport (max-width: 1440px);
@custom-media --laptop-medium-viewport (max-width: 1024px);
@custom-media --tablet-medium-viewport (max-width: 768px);
@custom-media --movil-large-viewport (max-width: 425px);
@custom-media --movil-medium-viewport (max-width: 375px);
@custom-media --movil-small-viewport (max-width: 320px);
@custom-media --min-laptop-medium-viewport (width: 1024px);

/* App */
$padding-content: 45px;
$full-padding-content: 90px;

/* Top Menu */
$height-top-menu: 65px;

$height-header: $height-top-menu;

/* Music */
$height-player-music: 85px;
$width-sidebar-music: 300px;

/* Radio */
$height-player-audio: 100px;

$border-radius: 4px;
$border-color: 3px solid $color-white;