h1{
      font-size: 2.5rem;
}
    
h2{
      font-size: 2.24rem;
}

h3{
      font-size: 2rem;
}

h4{
      font-size: 1.78rem;
}

h5{
      font-size: 1.59rem;
}

h6{
      font-size: 1.42rem;
}

.large-title-1{
      font-size: 4rem;
}

.large-title-2{
      font-size: 3.5rem;
}

.large-title-3{
      font-size: 3rem;
}

.title-1{
      font-size: 2.6rem;
}

.title-2{
      font-size: 2.3rem;
}

.title-3{
      font-size: 2rem;
}

.body-1{
      font-size: 1.8rem;
}

.body-2{
      font-size: 1.6rem;
}

.body-3{
      font-size: 1.4rem;
}

.caption-1{
      font-size: 1.2rem;
}

.caption-2{
      font-size: 1rem;
}
