@import "../../styles/style-base.css";

.wrapper-home {
    position: relative;
    height: calc(100% - $height-header);
    top: $height-header;
    padding: 0 $full-padding-content;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: $color-background-app;
}
