@import '../../styles/style-base.css';

.wrapper-home{
    position: relative;
    min-height: calc(100vh - $height-header);
    padding: 0 $full-padding-content;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
