.logo-guiahtv{
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;

      a{
            position: relative;
            width: auto;
            height: auto;
      }

      .img-logo{
            position: relative;
            height: 100%;  

            &.sm{
                  width: 160px;
            }

            &.md{
                  width: 200px;
            }

            &.lg{
                  width: 240px;
            }
      }
}

.fade-logo-enter {
      opacity: 0;
    }
    .fade-logo-enter-active {
      opacity: 1;
      transition: opacity 300ms linear;
    }
    .fade-logo-enter-done {
      opacity: 1;
    }
    .fade-logo-exit {
      opacity: 1;
    }
    .fade-logo-exit-active {
      opacity: 0;
      transition: opacity 600ms linear;
    }
    .fade-logo-exit-done {
      opacity: 0;
    }