.logo-guiahtv{
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;

      a{
            position: relative;
            width: auto;
            height: auto;
      }

      .img-logo{
            position: relative;
            min-width: 1px;
            height: auto;  

            &.sm{
                  width: 160px;
            }

            &.md{
                  width: 200px;
            }

            &.lg{
                  width: 240px;
            }
      }
}