@import '../../styles/style-base.css';

.wrapper-main-home{
      position: relative;
      width: 100%;
      min-height: 100vh;
      background: $color-black-1;
      /* background: black; */

      .main-section{
            position: relative;
            width: 100%;
            min-height: 100vh;
      }

      .wrapper-background{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            /* background-image: url(../../assets/images/backgrounds/background-login.jpg);
            background-size: 100%;
            background-repeat: no-repeat; */

            img{
                  position: relative;
                  object-fit: fill;
            }
      }

      .gradient-overlay{
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 25%;
            bottom: 0;
            /* background: linear-gradient(0deg, #13171a, transparent); */
            background: linear-gradient(0deg, $color-black-1, transparent);
            opacity: 1;
      }

      .footer-content{
            background: black;
            /* margin-top: 200px; */
      }

      .button-ui{
            padding: .8vw 1.5vw;
      }
}

@media (--laptop-large-viewport) {
      .wrapper-main-home{
            background-size: cover;
      }
}

@media (--tablet-medium-viewport) {
      .wrapper-main-home{
            background-size: cover;
            
            .wrapper-background{
                  position: absolute;
                  z-index: 1;
                  width: 100vw;
                  min-height: 100%;
                  margin-top: -200px;
                  background-image: url(../../assets/images/backgrounds/background-login-movil.jpg);
                  background-size: cover;
                  background-repeat: no-repeat;
                  opacity: 1;
            }

            .gradient-overlay{
                  min-height: 100vh;
                  bottom: 20%;
            }
      }
}

.main-info{
      position: relative;
      height: 100vh;
      width: 45%;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* padding-top: 175px; */
      padding-left: 75px;

      .logo-guiahtv{
            justify-content: flex-start;
            margin: 25px 0;
      }

      .title-text{
            font-weight: 600;
            /* line-height: 55px; */
      }

      .subtitle-text{
            font-weight: 300;
            margin: 10px 0;
            /* color: $color-grey-2; */
      }

      .group-buttons-actions{
            margin: 50px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            
            p{
                  margin-right: 25px;
                  font-weight: 300;
            }

            button{
                  /* font-size: 20px; */
                  margin-right: 20px;
            }
                  
      }
}

@media (max-width: 1800px) {
      .main-info{
            width: 50%;
      }
}


@media (--laptop-large-viewport) {
      .main-info{
            padding-left: 40px;
            /* padding-top: 125px; */
            width: 65%;

            .title-text{
                  font-size: 40px;
                  line-height: 55px;
            }
      }
}

@media (--laptop-medium-viewport) {
      .main-info{
            padding-left: 40px;
            /* padding-top: 100px; */
            width: 55%;

            .title-text{
                  font-size: 35px;
                  line-height: 50px;
            }

            .subtitle-text{
                  font-size: 22px;  
            }

            .group-buttons-actions{
                  p{
                        font-size: 15px;
                  }
      
                  button{
                        font-size: 17px;
                  }
            }
      }
}

@media (--tablet-medium-viewport) {
      .main-info{
            width: calc(100% - 50px);
            /* padding-top: 350px; */
            
            .logo-guiahtv{
                  justify-content: center;
            }

            .title-text{
                  font-weight: 600;
                  font-size: 28px;
                  text-align: center;
                  line-height: 40px;
            }
      
            .subtitle-text{
                  font-weight: 300;
                  font-size: 20px;
                  text-align: center;
            }

            .group-buttons-actions{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  align-content: center;
                  margin-top: 50px;
                  text-align: center;
      
                  p{
                        font-size: 15px;
                        font-weight: 300;
                        text-align: center; 
                        margin-right: 0 !important;      
                  }
      
                  button{
                        
                        &.btn-register{
                              margin-right: 0 !important;
                              margin-top: 20px;
                        }
      
                        &.btn-login{
                              margin-right: 0 !important;
                              margin-top: 20px;
                        }
                  }
            }
      } 
}

@media (--movil-medium-viewport) {
      .main-info{
            .title-text{
                  font-weight: 600;
                  font-size: 24px;
                  text-align: center;
                  line-height: 40px;
            }
      
            .subtitle-text{
                  font-weight: 300;
                  font-size: 18px;
                  text-align: center;
            }
      }    
}

@media (--movil-small-viewport) {
      .main-info{
            .title-text{
                  font-weight: 600;
                  font-size: 20px;
                  text-align: center;
                  line-height: 30px;
            }
      
            .subtitle-text{
                  font-weight: 300;
                  font-size: 16px;
                  text-align: center;
            }
      }    
}