@import '../../styles/style-base.css';

.wrapper-livetv{
      position: relative;
      width: 100%;
      height: 100vh;

      .background-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.40);
      }
}