@import '../../../../styles/style-base.css';

.album-artist{
      position: relative;
      width: 100%;
      margin: 25px 0 75px 0;

      .header-album{
            position: relative;
            width: 100%;
            height: 210px;
            display: flex;
            flex-direction: row;

            .cover-album{
                  position: relative;
                  width: 240px;
                  height: 240px;
                  overflow: hidden;

                  img{
                        position: relative;
                        width: 100%;
                        height: auto;
                        border-radius: 5px;
                  } 
            }

            .info-album{
                  margin-left: 25px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;

                  .title-album{
                        font-weight: 700;
                        font-size: 35px;
                  }

                  p{
                        color: #B3B3B3;

                        strong{
                              color: white;
                              font-weight: 500;
                        }
                  }

                  .buttons{
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;

                        .btn-play-album{
                              background: $color-guide-blue;
                              padding: 10px 30px;
                              text-transform: uppercase;
                              font-size: 11px;
                              font-weight: 600;
                              letter-spacing: 1px;
                              border-radius: 50px;
                        }

                        .button-icon{
                              margin-left: 15px;
                              color: white;
                              border-radius: 50%;
                              border: 1px solid white;
                              width: 30px;
                              height: 30px;
                              display: flex;
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                        }
                  }
            }
      }

      .content-album{
            width: 100%;

            table{
                  margin-top: 40px;
                  position: relative;
                  width: 100%;
                  border-collapse: collapse;
                  
                  tr{   
                        border-bottom: 1px solid rgba(179,179,179, 0.1);

                        th{
                              color: white;
                              font-weight: 400;
                              text-align: left;
                              text-transform: uppercase;
                              letter-spacing: 5px;
                              font-size: 13px;
                              height: 40px;
                        }

                        td{
                              color: white;
                              font-weight: 400;
                              text-align: left;
                              font-size: 16px;
                              height: 40px;
                        }

                        .number-song{
                              color:  #B3B3B3;
                              width: 50px;
                              text-align: left;
                        }

                        .fav-song{
                              color:  #B3B3B3;
                              width: 50px;
                        }

                        .title-song{
                        }

                        .time-song{
                              color:  #B3B3B3;
                              width: 50px;
                              text-align: right;
                        }

                        .liked-song{
                              color:  #B3B3B3;
                              width: 50px;
                              text-align: right;
                        }
                  }
            }
      }

      &:first-child{
            margin-top: 0 !important;
      }
}