@import '../../../../../../styles/style-base.css';

.container-volume-tv{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      width: 70px;

      .volume-icon{
            margin-left: 25px;
            min-width: 100px;
      }

      .MuiTooltip-tooltip{
            width: 200px !important;
            padding: 2.5px 20px !important;
      }
      
      .MuiSlider-root{
            color: $color-guide-blue !important;
      
            .MuiSlider-rail{
                  height: 6px !important;
                  background-color: $color-grey-2 !important;
            }
      
            .MuiSlider-track{
                  height: 6px !important;
            }
      
            .MuiSlider-thumb{
                  height: 15px !important;
                  width: 15px !important;
                  margin-top: -5px !important;
                  color: $color-white !important;
                  opacity: 0;
      
                  &.MuiSlider-active{
                        box-shadow: none !important;
                  }
      
                  &.Mui-focusVisible{
                        box-shadow: none !important;
                  }
      
                  &:hover{
                        box-shadow: none !important;
                  }
            }
      }

      &:hover{
            .MuiSlider-thumb{
               opacity: 1;
            }
      }
}