@import '../../styles/style-base.css';

.top-menu{
    width: 100%;
    padding: 0 $padding-content;
    transition: all 300ms ease-in-out;

    &.bgcolor{
        background-color: $color-black-2;
    }

    &.bggradient.bgcolor{
        background-color: $color-black-2;
    }

    &.bggradient{
        background: linear-gradient(to bottom, rgba($rgba-color-guide-black, 1), transparent);
    }

    .section-wrapper{
        position: relative;
        height: $height-top-menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .left-content{
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;

            .logo {
                display: flex;
                align-items: center;

                img{
                    width: auto;
                    height: 40px;
                }
            } 
            
            .navbar-top-menu{
                margin-left: 25px;
            }
        }

        .right-content{
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;

            .search-button{
                margin-right: 15px;
                padding: 9px 16px;
                border-radius: 4px;
                text-decoration: none;

                &:hover{
                    background-color: $color-grey-5;
                }
            }

            span{
                color: white;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                font-size: 14px;
               
                i{
                    font-size: 20px;

                    &.fa-search{
                        font-size: 15px;
                    }

                    &.fa-user-circle{
                        font-size: 20px !important;
                    }
                }
            }

        }   
    }
}