.player{
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;

      .player-wrapper{
            position: relative;
            width: 100%;
            height: 100%;

            video{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: black
            }

            video::cue {
                  position: absolute !important;
                  color: #fff;
                  background-color: rgba(0, 0, 0, 0.6);
                  bottom: 10% !important;
                  transform: translateY(-10%) !important; 
            }

            video::cue(b) {
                  position: absolute !important;
                  color: #fff;
                  background-color: rgba(0, 0, 0, 0.6);
                  bottom: 10% !important;
                  transform: translateY(-10%) !important; 
            }

            video::cue-region {
                  position: absolute !important;
                  color: #fff;
                  background-color: rgba(0, 0, 0, 0.6);
                  bottom: 10% !important;
                  transform: translateY(-10%) !important; 
            }

            video::-webkit-media-text-track-display {
                  overflow: visible !important;
            }
            
            video::-webkit-media-text-track-container {
                  overflow: visible !important;
                  transform: translateY(-10%) !important;
            }
            
            video::-moz-media-text-track-display {
                  overflow: visible !important;
            }
            
            video::-moz-media-text-track-container {
                  overflow: visible !important;
                  transform: translateY(-10%) !important;
            }

            .error-message{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
            }
      }
}