@import '../../../../styles/style-base.css';

.plans-prices-wrapper{
      position: relative;
      min-height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .plans{
            position: relative;
            display: flex;

            .card-plan{
                  margin-right: 3vw;
                  display: flex;
                  align-items: center;
      
                  .price-plan{
                        font-size: 1.8vw;
                        font-weight: 600;
                        margin-bottom: .5vw;
      
                        span{
                              font-size: 0.9vw;
                              font-weight: 400;
                              color: $color-grey-2;
                        }
                  }

                  .form-login{
                        display: flex;
                        align-items: flex-end;

                        .form-group{
                              display: flex;
                              flex-direction: column;

                              p{
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-left: 5px;
                                    margin-bottom: 5px;
                                    color: $color-white;
                              }

                              input{
                                    height: 56px;
                                    background: transparent;
                                    border: 2px solid $color-grey-5;
                                    border-radius: 4px;
                                    min-width: 300px;
                                    margin-right: 20px;
                                    color: $color-white;
                                    padding: 10px 15px;
                                    font-size: 17px;

                                    &:focus{
                                          border: 2px solid $color-white;
                                    }
                              }
                        }

                        button {
                              height: 56px;
                        }
                  }

                  button {
                        margin-right: 1vw;
                        min-width: 200px;
                  }
            }
      }
}