@import "../../../../styles/style-base.css";

.content-section {
    position: relative;
    height: calc(100% - $height-header);
    top: $height-header;
    overflow: hidden;
    width: calc(100% - (160px + $padding-content));
    min-width: calc(100% - (160px + $padding-content));
    overflow: hidden;
}