@import "../../../../styles/style-base.css";

.sidebar {
    position: relative;
    overflow-y: scroll;
    box-sizing: border-box;

    .list-section {
        margin-bottom: 75px !important;

        &:last-child {
            margin-bottom: 0 !important;
        }

        .list-title {
            font-size: 18px;
            color: #757575;
            font-weight: 600;
            margin-bottom: 30px !important;
            padding-left: 20px !important;
            text-transform: uppercase;
        }

        .list-menu {
            list-style: none;

            .list-item {
                position: relative;
                font-weight: 500;
                padding: 20px 20px;
                border-radius: 4px;
                margin: 15px 0;
                width: 100%;
                height: 100%;
                font-size: 20px;
                color: $color-grey-3;
                transition: all 0.15s ease;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 70px;

                i {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 25px;
                    text-align: center;
                    margin-right: 5px;
                }

                p {
                    margin-left: 15px;
                    color: $color-grey-3;
                }

                &:after {
                    content: "";
                    inset: 0px;
                    position: absolute;
                    width: 98%;
                    height: 95%;
                    border-radius: 4px;
                    border: 2px solid transparent;
                    transition: all 300ms ease-in-out;
                }

                &:hover {
                    color: $color-white;
                    cursor: pointer;

                    p {
                        color: $color-white;
                    }

                    &:after {
                        border: 2px solid $color-white;
                    }
                }

                &:focus {
                    color: $color-white;
                    cursor: pointer;

                    p {
                        color: $color-white;
                    }

                    &:after {
                        border: 2px solid $color-white;
                    }
                }
            }

            a {
                text-decoration: none;
                color: $color-white;

                &.active {

                    .list-item {
                        background: $color-grey-5;

                        p {
                            color: $color-white;
                        }

                        i {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

.sidebar-music {
    height: 100%;
    padding: 25px 25px 25px 85px;
    /* background: rgba(0, 0, 0, 0.1); */
    /* background-color: rgba($rgba-color-black-2, 0.65); */

    p {
        display: none;
        margin-block-start: none !important;
        margin-block-end: none !important;
    }

    &.open {
        width: 500px;
        max-width: 500px;
        /* background-color: rgba($rgba-color-black-2, 0); */

        p {
            display: block;
        }
    }
}
