@import "../../../../styles/style-base.css";

.sidebar {
    position: relative;
    overflow-y: hidden;
    box-sizing: border-box;
    background: $color-background-app;
}

.sidebar-music {
    position: relative;
    height: 100%;
    width: calc(160px + $padding-content);
    min-width: calc(160px + $padding-content);
    padding-left: calc($padding-content);
    display: flex;
    align-items: center;

    p {
        display: none;
        margin-block-start: none !important;
        margin-block-end: none !important;
    }

    &.open {
        min-width: 650px;
        max-width: 650px;

        p {
            display: block;
        }

        .list-section{
            width: 750px;
            max-width: 750px;
            justify-content: flex-start;
        }
    }
}
