@import '../../styles/style-base.css';

.buttons-menu-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    .slick-list{
        display: flex;
        justify-content: center;
    }

    .item-button{
        position: relative;
        height: 100%;
        transition: all 300ms ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: scale(0.95);
        border-radius: 25px;

        &:after{
            content: '';
            position: absolute;
            inset: 0px;
            border: 4px solid transparent;
            border-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            transition: all 300ms ease-in-out;
        }

        .title-button{
            position: absolute;
            font-weight: 500;
            font-size: 1.1vw;
            color: white;
            top: 30%;
            left: 20%;
            text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
            letter-spacing: 1px;
            opacity: 1;
            margin-top: 15px;
            transition: all 300ms ease-in-out;
        }

        .content-button{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i{
                color: $color-white;
                font-size: 65px;
                text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
                transition: all 200ms ease-in-out; 
            }

            svg{
                color: $color-white;
                font-size: 75px;
                text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
                transition: all 200ms ease-in-out;
            }
        }

        picture{
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 25px;
        }

        .image-button{
            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
            border: 3px solid transparent;
            box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 15%) 0px 16px 25px -10px;
            transition: all 300ms ease-in-out;
            border-radius: 25px;
            opacity: 1;
        }

        &:hover{
            transform: scale(1, .99);
            cursor: pointer;

            .image-button{
                box-shadow: rgb(0 0 0 / 20%) 0px 40px 58px -16px, rgb(0 0 0 / 20%) 0px 30px 22px -10px;
                opacity: 1;
            }

            .title-button{
               opacity: 1;
               top: 30%;
               left: 20%;
            }

            &:after{
                border: 4px solid $color-white;
            }
        }

        &.focusable{

            &:focus{

                &:after{
                    border: 4px solid $color-white;
                }
            }
               
        }

    }
}