.info-content{
      position: absolute;
      width: 100%;
      height: auto;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
      padding: 25px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .back-content{
            width: 50px;
            height: 50px;
            margin-right: 15px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            i{
                  color: white;
                  font-size: 28px;
            }

            &:hover{
                  transform: scale(1.2);
            }
      }

      .title-content{
            position: relative;
            width: 100%;

            p{
                  font-size: 18px;
                  font-weight: 500;
            }

            .name{
                  font-size: 30px;
                  font-weight: 600;
            }
      }

      &.fade-enter {
            opacity: 0;
      }
      &.fade-enter-active {
            opacity: 1;
            transition: opacity 150ms;
      }
      &.fade-enter-done {
            opacity: 1;
      }
      &.fade-exit {
            opacity: 1;
      }
      &.fade-exit-active {
            opacity: 0;
            transition: opacity 150ms;
      }    
      &.fade-exit-done {
            opacity: 0;
      }  
}