.video{
      position: absolute;
      width: 100%;
      height: 100vh;
      background: black;

      .video-wrapper{
            position: relative;
            width: 100%;
            height: 100%;
      }
}