@import '../../../../styles/style-base.css';

.controls-player{
      position: absolute;
      width: 100%;
      height: 200px;
      padding: 15px 50px;
      bottom: 0;
      z-index: 100;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .controls-wrapper{
            position: relative;
            width: 100%;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .top-section{
                  position: relative;
                  width: 100%;
                  margin: 2.5px 0;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .group-buttons{
                        position: relative;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .content-button-icon{
                              width: 45px;
                              height: 45px;
                              border-radius: 50%;
                              cursor: pointer;
                              margin-right: 30px;
                              background: transparent;
                              display: flex;
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                              box-shadow: none;

                              i{
                                    color: white;
                                    font-size: 24px;
                              }

                              img{
                                    width: 30px;
                              }

                              &:hover{
                                    /* background: rgba(0, 0, 0, 0.5); */
                              }

                              &:focus{
                                    outline: none !important;
                              }
                        }

                        .group-time{
                              position: relative;
                              min-width: 120px;
                              text-align: center;
                        }

                        .container-volume{
                              position: absolute;
                              height: 150px; 
                              width: 50px;
                              bottom: 5px;
                              left: 0px;

                              .MuiSlider-root{
                                    color: $color-guide-blue !important;
                                    width: 7px !important;
                                    padding: 0 !important;
                                    left: 18px;
                                    height: 70% !important;
                              
                                    .MuiSlider-rail{
                                          width: 6px !important;
                                          height: 100% !important;
                                          background-color: $color-grey-2 !important;
                                    }
                              
                                    .MuiSlider-track{
                                          width: 6px !important;
                                    }
                              
                                    .MuiSlider-thumb{
                                          height: 15px !important;
                                          width: 15px !important;
                                          color: $color-white !important;
                                          opacity: 0;
                              
                                          &.MuiSlider-active{
                                                box-shadow: none !important;
                                          }
                              
                                          &.Mui-focusVisible{
                                                box-shadow: none !important;
                                          }
                              
                                          &:hover{
                                                box-shadow: none !important;
                                          }
                                    }
                              }

                              &:hover{
                                    .MuiSlider-thumb{
                                       opacity: 1;
                                    }
                              }
                        }
                  }
            }
           
            .content-progress-time{
                  position: relative;
                  width: 100%;
                  margin: 2.5px 0;

                  .MuiSlider-root{
                        width: 100%;
                        color: white !important;
      
                        .MuiSlider-rail{
                              height: 4px !important;
                        }
      
                        .MuiSlider-track{
                              height: 4px !important;
                        }
      
                        .MuiSlider-thumb{
                              width: 15px !important;
                              height: 15px !important;
                              margin-top: -6px !important; 
      
                              &:hover{
                                    box-shadow: none !important;
                                    
                              }
                        }
      
                        &:hover{
                              .MuiSlider-rail{
                                    height: 6px !important;
                              }
      
                              .MuiSlider-track{
                                    height: 6px !important;
                              }
      
                              .MuiSlider-thumb{
                                    width: 18px !important;
                                    height: 18px !important;
                                    margin-top: -6px !important; 
            
                                    &:hover{
                                          box-shadow: none !important;
                                          
                                    }
                              }
                        }
                  }
      
            }
      }
}

.MuiPaper-root{
      background-color: #424242 !important;
}

.tracks-content{
      position: relative;
      display: flex;
      padding: 25px 20px;

      .audios-content{
            min-width: 225px;
            padding: 0 10px;
      }

      .subtitles-content{
            min-width: 225px;
            padding: 0 10px;
      }

      .name-list{
            padding-left: 15px !important;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px !important;
      }

      .list-tracks{
            position: relative;

            .track-item{
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 15px;
                  cursor: pointer;
                  border-radius: 4px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  &:hover{
                        background: #616161;
                  }

                  i{
                        opacity: 0;
                        font-size: 16px;
                        width: 15px;
                  }

                  &.active{
                        i{
                              opacity: 1;
                        }
                  }
            }
      }
}